{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">Listar Usuarios</div>
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo de Identificación</th>
                        <th scope="col">Número de Identificación</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Ciudad de Residencia</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Tipo de Régimen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in acudientes %}
                    <tr>
                        <td scope="row">{{ a.id }}</td>
                        <td>{{ a.tipo_doc }}</td>
                        <td>{{ a.identificacion }}</td>
                        <td>{{ a.nombre }}</td>
                        <td>{{ a.apellidos }}</td>
                        <td>{{ a.ciudad }}</td>
                        <td>{{ a.direccion }}</td>
                        <td>{{ a.correo }}</td>
                        <td>{{ a.telefono }}</td>
                        <td>{{ a.tipo_regimen }}</td>
                        <td>Editar | Eliminar</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">No hay usuarios registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted"></div>
</div>
{% endblock %}
